<!DOCTYPE html>
<head>
    <style type="text/css">
        main {
            width: 850px;
            max-width: 100%;
            border: 1px solid black;
        }
    </style>
</head>
<body class="tg-mail">
    <main>
        <h1>Benvenuto su The Gate!</h1>
        <p>Salve <%= name %></p> 
    </main>
</body>
<% include ./partials/footer %>
